.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.chat-box {
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  height: 300px;
  width: 400px;
  overflow-y: auto;
  text-align: left;
}

input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #ffd91e;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}
